@model Product
@{
    ViewData["Title"] = "Delete";
}


<form method="post" action="/Product/Delete/@Model/@Model.Id>
    <div class="modal" role="dialog ">
        <div class="modal-dialog" tabindex="-1" role="document" style="width : 40%; border:solid; height:30%; border-color:red; ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <br />
                </div>
                <div class="modal-body" style="padding:30px ">
                    <p> You Will delete Course "@Model.Name" </p>
                    <p style="text-align:center"> Are you Sure ? </p>
                </div>
                <div class="modal-footer">
                    <div style="padding-right : 10px ">
                        <a asp-action="Delete2" asp-controller="Product" asp-route-Id="@Model.Id" class="btn btn-outline-danger">Delete</a>
                    </div>
                    <div style="padding-right : 10px ">
                        <a asp-action="index" asp-controller="Product" class="btn btn-outline-success">No </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

</style>

@* @section scripts {
    <script>
        // Restore scroll position when returning to the page
        $(document).ready(function () {
            var scrollPosition = sessionStorage.getItem('scrollPosition');
            if (scrollPosition) {
                $(window).scrollTop(scrollPosition);
                sessionStorage.removeItem('scrollPosition');
            }
        });
    </script>
} *@

