@model ProductJoinSellerViewModel
@inject IHttpContextAccessor _contxt;

@{
    ViewData["Title"] = "Search";
}


<br />
<br />
<h2 style="text-align:center">Search Results</h2>

@{
    int x = 0;
    var p = Model.Products;
    var s = Model.Sellers;

}

@if (Model.Products.Count() == 0)
{
    <p style="text-align:center; margin-top:100px; height:80%;">No results found.</p>
}
else
{


    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @while (x < Model.Products.Count())
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Card Header -->
                            <div class="card-header d-flex justify-content-between align-items-start">
                                <!-- Seller Name -->
                                <span class="text-danger" style="color: darkred; font-weight: 700;">
                                    Seller: @s[p[x].SellerId-1].Name
                                </span>
                                @if (_contxt.HttpContext.Session.GetString("UserRole") == "Seller")       //Only Sellers can edit or delete
                                {
                                    <div>
                                        <a class="btn btn-outline-dark" href="/Product/edit/@p[x].Id">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a class="btn btn-outline-danger" href="/Product/delete/@p[x].Id">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                }

                            </div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/img/Products/@p[x].Image" alt="..." />

                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h class="fw-bolder">@p[x].Name</h>
                                    <p> @p[x].Category </p>
                                    <p> $@p[x].Price </p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>

                    x++;

                }
            </div>
        </div>
    </section>

}

@section SearchBar {
    <form action="/Product/Search" method="get" class="form-inline d-flex" style="padding:10px; margin-top:15px; margin-right:20px;">
        <input class="form-control" type="text" name="value" placeholder="Search products" />
        <button class="btn btn-outline-dark" type="submit">
            <i class="bi bi-search" style="padding:10"></i>
            </button>
    </form>
}

<style>

    .form-control {
        width: auto;
        display: inline;
    }
</style>