@model Buyer;
@{
    ViewData["Title"] = "Register";
}

<br /><br />

@if (ViewBag.Notification != null)
{
    <div class="alert alert-danger">@ViewBag.Notification</div>
}


<div class="row" >
    <div class="col-md-6 offset-3">
       


        <div class="row" style=" border-style: solid; border-color:gray; border-radius:10px; border-width:1px ">
           

            <div class="col-md-8 offset-2">
                <p>
                    <h3 >Sign up</h3>
                </p>

                <form method="Post" action="/Buyer/Register2/@Model">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" value="@Model?.Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="username" class="control-label"></label>
                        <input asp-for="username" value="@Model?.username" type="text" class="form-control" />
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="password" class="control-label"></label>
                        <input asp-for="password" value="@Model?.password" type="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" value="@Model?.Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Index">Cancel</a>

                    <br /><br />
                    
                </form>
                
            </div>
        </div>
    </div>
</div>
<br />
<br /><br />


@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    }

