﻿@{
    ViewData["Title"] = "Home Page";
    // string sessionId = ViewData["SessionId"] as string;
    // string sessionUsername = ViewData["SessionUsername"] as string;
    // string sessionUsrRole = ViewData["SessionUserRole"] as string;
}



<body>


    <!-- Start Header -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">


        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-danger"><b>ShoeXpert</b> </h1>
                                <h3 class="h4">Shop smart, step stylishly with us. </h3>
                                <p>
                                    we believe in the power of the perfect pair of shoes
                                    to complete any outfit and boost your confidence. Whether you need formal pumps,
                                    comfy sneakers, or stylish boots for winter, we've got you covered. With our wide selection
                                    of brands and styles, finding the perfect pair that matches your fashion preferences
                                    is effortless. Start scrolling, find your new favorites
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <br />

        <!-- End Header -->
        <!-- About Section-->
        <!-- Section-->
        <div class="container">
            <h3 style="text-align:center">About</h3>

            <section class="py-5" id="about">
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi perspiciatis placeat expedita deleniti voluptatum aperiam quibusdam magnam dolores aliquid minus? Iure, deserunt! Amet, iure? Quibusdam saepe consequatur explicabo similique harum.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi perspiciatis placeat expedita deleniti voluptatum aperiam quibusdam magnam dolores aliquid minus? Iure, deserunt! Amet, iure? Quibusdam saepe consequatur explicabo similique harum.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi perspiciatis placeat expedita deleniti voluptatum aperiam quibusdam magnam dolores aliquid minus? Iure, deserunt! Amet, iure? Quibusdam saepe consequatur explicabo similique harum.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi perspiciatis placeat expedita deleniti voluptatum aperiam quibusdam magnam dolores aliquid minus? Iure, deserunt! Amet, iure? Quibusdam saepe consequatur explicabo similique harum.


                    </div>
                </div>
            </section>
        </div>       



</body>


